
.calendar-vertical-wrapper {
  max-width: 72rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.calendar-content-right {
  align-items: flex-start;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;

  margin-left: 0;
}

.calendar-content-left {
  align-items: flex-start;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.5rem;
}

.logo-container-right {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1rem;
}

.logo-container-right .logo {
  max-width: 200px;
}

@media (max-width: 768px) {
  .calendar-wrapper-horizontal {
    flex-direction: column-reverse;
    align-items: center;
  }

  .calendar-content-left,
  .logo-container-right {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .logo-container-right {
    padding-top: 0;
    margin-bottom: 1rem;
  }
}

.text-center {
  text-align: center;
}

